name: Terraform EC2 Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Deployment
    runs-on: ubuntu-latest

    env:
      TF_IN_AUTOMATION: true
      TF_INPUT: false
      TF_VAR_key_name: ${{ secrets.KEY_NAME }}
      TF_VAR_ami_id: ${{ secrets.AMI_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -out=tfplan.binary

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve tfplan.binary

      - name: Capture Terraform Outputs
        working-directory: terraform
        run: |
          echo "JAVA_IP=$(terraform output -raw java_node_ip)" >> $GITHUB_ENV
          echo "NGINX_IP=$(terraform output -raw nginx_node_ip)" >> $GITHUB_ENV
          echo "ANSIBLE_IP=$(terraform output -raw ansible_node_ip)" >> $GITHUB_ENV

      - name: Show Outputs
        run: |
          echo "Java Node IP: $JAVA_IP"
          echo "Nginx Node IP: $NGINX_IP"
          echo "Ansible Node IP: $ANSIBLE_IP"

    