name: Terraform Deploy or Destroy

on:
  workflow_dispatch:
    inputs:
      tf_action:
        description: "Terraform action"
        required: true
        type: choice
        options:
          - apply
          - destroy
        default: apply

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_IN_AUTOMATION: true
      TF_INPUT: false
      TF_VAR_ami_id: ${{ secrets.AMI_ID }}
      TF_VAR_key_name: ${{ secrets.KEY_NAME }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan

      - name: Terraform Apply
        if: github.event.inputs.tf_action == 'apply'
        working-directory: terraform
        run: terraform apply -auto-approve

      - name: Terraform Destroy
        if: github.event.inputs.tf_action == 'destroy'
        working-directory: terraform
        run: terraform destroy -auto-approve
      - name: Capture Terraform Outputs
        if: github.event.inputs.tf_action == 'apply'
        working-directory: terraform
        run: |
          echo "JAVA_IP=$(terraform output -raw java_node_ip)" >> $GITHUB_ENV
          echo "NGINX_IP=$(terraform output -raw nginx_node_ip)" >> $GITHUB_ENV
          echo "ANSIBLE_IP=$(terraform output -raw ansible_node_ip)" >> $GITHUB_ENV
      - name: Show Outputs
        if: github.event.inputs.tf_action == 'apply'
        run: |
             echo "Java Node IP: ${{ env.JAVA_IP }}"
             echo "Nginx Node IP: ${{ env.NGINX_IP }}"
             echo "Ansible Node IP: ${{ env.ANSIBLE_IP }}"

             